<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Оценки</title>
    <style>
        * {
            margin: 2px;
        }
        .grade_in {
            width: 45px;
        }
        td {
            padding: 0;
            border: 1px solid black;
        }
        td > input {
            border: 0;
            padding: 0;
            margin: 0;
        }
        td > input:focus {
            outline: none;
        }
        .bt_plus {
            color: #BFE2FF;
            height: 35px;
            width: 35px;
            padding: 0;
            border-radius: 10px;
            border: 4px solid #BFE2FF;
            background: #337AB7;
            cursor: pointer;
            outline: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
        }
        .bt_plus svg {
            stroke: #BFE2FF;
            stroke-width: 4;
            transition: 0.5s;
            margin: 1px;
        }
        .dark-tooltip {
            --bs-tooltip-bg: var(--bs-dark);
        }
        .danger-tooltip {
            --bs-tooltip-bg: var(--bs-danger);
        }

    </style>
</head>
<body>

<header>
    <div class="menu" style="display: flex;">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Курс
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" onclick="SelectCourse(1)" id="course-1">1</button></li>
                <li><button class="dropdown-item" onclick="SelectCourse(2)" id="course-2">2</button></li>
                <li><button class="dropdown-item" onclick="SelectCourse(3)" id="course-3">3</button></li>
                <li><button class="dropdown-item" onclick="SelectCourse(4)" id="course-4">4</button></li>
            </ul>
        </div>

        <div class="dropdown" id="subject-dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="subject-dropdown-lbl" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Предмет
            </button>
            <ul class="dropdown-menu" id="subject-dropdown-menu">

            </ul>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Месяц
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" onclick="SelectMonth(1)" id="month-1">Январь</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(2)" id="month-2">Февраль</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(3)" id="month-3">Март</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(4)" id="month-4">Апрель</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(5)" id="month-5">Май</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(6)" id="month-6">Июнь</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(7)" id="month-7">Июль</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(8)" id="month-8">Август</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(9)" id="month-9">Сентябрь</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(10)" id="month-10">Октябрь</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(11)" id="month-11">Ноябрь</button></li>
                <li><button class="dropdown-item" onclick="SelectMonth(12)" id="month-12">Декабрь</button></li>
            </ul>
        </div>
    </div>
    <h2 id="subject_name"></h2>
</header>

<div id="grades">

</div>
<div style="display: flex">
    <button id="btn-save" class="btn btn-secondary" onclick="Save()">Сохранить</button>
</div>

<div id="modals">

</div>
</body>
<script src="/static/js/functions.js"></script>
<script>
    let SaveList = []
    let Users = []
    let Days = []
    let NewGradesIdCounter = -1

    let month = 1
    let subject_id = 1
    let course = 1

    const ActionUpdate = 0
    const ActionDelete = 1
    const ActionNew = 2


    let btn_plus = `
    <button class="bt_plus" onclick="DropdownShow('new_column_dropdown')"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="dark-tooltip"
        data-bs-title="Создать столбец">
        <svg viewBox="0 0 24 24"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>

    <div id="new_column_dropdown" class="dropdown-menu" style="margin-left: -115px">
    <div style="width: 90%; position: absolute">
        <button class="btn-close" onclick="DropdownShow('new_column_dropdown')"
        style="margin-left: 90%;"></button>
    </div>

         <div class="mb-3">
        <label for="input-num-of-day" class="form-label">Введите число</label>
        <input type="number" class="form-control" id="input-num-of-day" min="1" max="31" value="1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="input-num-of-day-check">
        <label class="form-check-label" for="input-num-of-day-check">Колонка "Итог"</label>
    </div>
    <button class="btn btn-primary" onclick="CreateColumn();DropdownShow('new_column_dropdown');">Создать</button>
    </div>
    `


    getTableFromCookies()

    document.getElementById(`month-${month}`).classList.add("active")
    document.getElementById(`course-${course}`).classList.add("active")

    let subjects_list = {
    {{ range .Subjects }}
        "{{ .Id }}": "{{.Name}}",
    {{ end }}
    }

    let list = document.getElementById("subject-dropdown-menu")
    for (let id of Object.keys(subjects_list)) {
        list.innerHTML += `<li><button class="dropdown-item" onclick="SelectSubject(${id})" id="subject-${id}">${subjects_list[id]}</button></li>`

    }
    document.getElementById(`subject-${subject_id}`).classList.add("active")


    function SelectSubject(id) {
        document.getElementById(`subject-${subject_id}`).classList.remove("active")
        document.getElementById(`subject-${id}`).classList.add("active");
        subject_id = id;
        setTableCookie()
        GetGradesByMonthAndSubject()
    }

    function SelectMonth(month_in) {
        document.getElementById(`month-${month}`).classList.remove("active")
        document.getElementById(`month-${month_in}`).classList.add("active");
        month = month_in;
        setTableCookie()
        GetGradesByMonthAndSubject()
    }

    function SelectCourse(course_in) {
        document.getElementById(`course-${course}`).classList.remove("active")
        document.getElementById(`course-${course_in}`).classList.add("active");
        course = course_in;
        setTableCookie()
        GetGradesByMonthAndSubject()
    }

    function DropdownShow(id) {
        let menu = document.getElementById(id)
        if (menu.classList.contains("show")) {
            menu.classList.remove("show")
        } else {
            menu.classList.add("show")
        }
    }

    function GetGradesByMonthAndSubject() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/grades/by_month_and_subject");
        xhr.send(`{"month": ${month}, "course": ${course}, "subject_id": ${subject_id}}`);
        xhr.responseType = "json";
        xhr.onload = () => {
            if (!handleResponseCode(xhr.status, "/admin/login", `произошла ошибка при получении списка оценок, статус код ответа ${xhr.status}`)) {
                return
            }
            console.log(xhr.response)
            document.getElementById("subject_name").innerText = xhr.response["subject_name"] + ", " + course + " курс, " + document.getElementById(`month-${month}`).innerText

            Days = []

            let table = document.createElement("table")
            let row1 = document.createElement("tr")
            let row1_html = `<td data-table-column="0">Студенты</td>`

            let modals = document.getElementById("modals")
            modals.innerHTML = ""
            try {
                let i = 1;
                Days = xhr.response["days"].sort((a, b) => {return a - b})

                for (let day of Days) {
                    row1_html += `<td class="date_cell" data-table-column="${i}" data-modal-id="del_column_dropdown-${i}">${formatDate(month, day)}</td>`

                    modals.innerHTML += `<div id="del_column_dropdown-${i}" class="my-dropdown-menu" style="display: none; position: absolute;">
                        <button class="btn btn-danger btn-sm"  onclick="deleteColumn(${i}, ${day});BtnSaveActive();">
                        Удалить
</button>
                    </div>`
                    i++
                }
            } catch (err) {console.log(err)}

            row1_html += `<td style="border: 0">${btn_plus}</td>`

            row1.innerHTML = row1_html

            table.appendChild(row1)

            Users = xhr.response["users"]
            for (let i = 0; i < xhr.response["users"].length; i++) {
                let row = document.createElement("tr")

                let user_td = document.createElement("td")
                user_td.setAttribute("data-table-column", "0")
                user_td.innerText = xhr.response["users"][i].name
                row.appendChild(user_td)

                if (xhr.response["grades"][i] !== null) {
                    let j = 0
                    for (let grade of xhr.response["grades"][i]) {
                        row.appendChild(CreateGradeTd(grade.id, grade.value, j+1))
                        j++
                    }
                }
                table.appendChild(row)
            }


            let div = document.getElementById("grades")
            div.innerHTML = ""
            div.appendChild(table)

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            document.getElementById("input-num-of-day-check").onclick = () => {
                let input = document.getElementById("input-num-of-day")
                input.disabled = !input.disabled
            }

            let date_cells = document.querySelectorAll('[class="date_cell"]')
            date_cells.forEach((elem) => {

                elem.onclick = () => {
                    let modal = document.getElementById(elem.getAttribute("data-modal-id"))
                    modal.style.left = `${elem.offsetLeft-2}px`
                    modal.style.top = `${elem.offsetHeight+22}px`
                    modal.style.display =  "block"
                    setTimeout(
                        () => {
                            document.onclick = () => {
                                modal.style.display = "none"
                                document.onclick = () => {}
                            }
                        }, 2
                    );
                }


            })
        }


    }


    function CreateGradeTd(id, value, idColumn) {
        let grade_td = document.createElement("td");
        grade_td.setAttribute("data-table-column", `${idColumn}`)
        let grade_input = document.createElement("input");

        grade_input.setAttribute("type", "text");
        grade_input.setAttribute("value", value);
        grade_input.setAttribute("id", `grade_in:${id}`);
        grade_input.setAttribute("maxlength", "5");
        grade_input.setAttribute("class", "grade_in");

        grade_input.onchange = () => {
            BtnSaveActive()
            OnUpdateGrade(id, grade_input.value)
        }

        grade_td.appendChild(grade_input)

        return grade_td
    }

    function Save() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/grades/save");
        xhr.send(JSON.stringify(SaveList));
        xhr.onload = () => {
            if (handleResponseCode(xhr.status, "/admin/login", `Произошла ошибка при сохранении, статус код ответа ${xhr.status}`)) {
                SaveList = []
                GetGradesByMonthAndSubject()
                BtnSaveDisable()
            }
        }
        xhr.onerror = () => {
            handleResponseCode(xhr.status, "/admin/login", `Произошла ошибка при сохранении, статус код ответа ${xhr.status}`)
        }
    }


    function OnUpdateGrade(id, value) {
        for (let i = 0; i < SaveList.length; i++) {
            if (SaveList[i].id === id) {
                SaveList[i].value = value
                return
            }
        }
        SaveList.push({
            "action": ActionUpdate,
            "id": id,
            "value": value,
        })
    }

    function CreateColumn() {
        let input = document.getElementById("input-num-of-day")

        let day = Number.parseInt(input.value)

        let idBefore = 0
        let len = Days.length
        if (input.disabled) {
            day = 100
            idBefore = Days.length
            Days.push(day)
        } else {
            let f = true
            for (let i = Days.length; i >= 0; i--) {
                if (day >= Days[i]) {
                    idBefore = i+1
                    Days = Days.slice(0, i+1).concat(day).concat(Days.slice(i+1, Days.length))
                    f = false
                    break
                }
            }
            if (f) {
                if (Days[0] > day) {
                    idBefore = 0
                    Days = [day].concat(Days)
                } else {
                    idBefore = Days.length
                    Days.push(day)
                }
            }
        }

        UpdateGradesAndModalId(idBefore, len, 1)


        let elemsBefore = document.querySelectorAll(`[data-table-column="${idBefore}"]`)

        let td = document.createElement("td")
        td.classList.add("date_cell")
        td.setAttribute("data-table-column", `${idBefore+1}`)
        td.setAttribute("data-modal-id", `del_column_dropdown-${idBefore+1}`)
        td.onclick = () => {
            let modal = document.getElementById(td.getAttribute("data-modal-id"))
            modal.style.left = `${td.offsetLeft-2}px`
            modal.style.top = `${td.offsetHeight+22}px`
            modal.style.display =  "block"
            setTimeout(
                () => {
                    document.onclick = () => {
                        modal.style.display = "none"
                        document.onclick = () => {}
                    }
                }, 2
            )
        }
        td.innerText = formatDate(month, day)
        elemsBefore.item(0).after(td)

        document.getElementById("modals").innerHTML += `
        <div id="del_column_dropdown-${idBefore+1}" class="my-dropdown-menu" style="display: none; position: absolute;">
        <button class="btn btn-danger btn-sm"  onclick="deleteColumn(${idBefore+1}, ${day});BtnSaveActive();">Удалить</button></div>`

        console.log(elemsBefore)
        for (let i=0; i< Users.length; i++) {
            NewGradesIdCounter--
            let elemBefore = elemsBefore.item(i+1)
            elemBefore.after(CreateGradeTd(NewGradesIdCounter, "", idBefore+1))

            SaveList.push({
                "action": ActionNew,
                "id": NewGradesIdCounter,
                "user_id": Users[i].id,
                "subject_id": subject_id,
                "value": "",
                "day": day,
                "month": month,
                "course": course,
            })
        }
        BtnSaveActive()
    }

    function UpdateGradesAndModalId(startId, endId, add) {
        let d
        let f

        if (add > 0) {
            let t = startId
            startId = endId
            endId = t
            d = -1
            f = (a, b) => {return a > b}
        } else {
            d = 1
            f = (a, b) => {return a <= b}
        }

        for (let i = startId; f(i, endId); i+=d) {
            let cells = document.querySelectorAll(`[data-table-column="${i}"]`)

            cells.item(0).setAttribute("data-modal-id", `del_column_dropdown-${i+add}`)
            let date = cells.item(0).innerHTML
            let day
            if (date === "Итог") {
                day = 100
            } else {
                day = date.split(".")[1]
            }


            cells.forEach((elem) => {
                elem.setAttribute("data-table-column", i+add)

            })
            let modal = document.getElementById(`del_column_dropdown-${i}`)
            modal.id = `del_column_dropdown-${i+add}`
            modal.children[0].setAttribute("onclick", `deleteColumn(${i+add}, ${day});BtnSaveActive();`)
        }
    }



    function deleteColumn(i, day) {
        console.log(i, day)
        let cells = document.querySelectorAll(`[data-table-column="${i}"]`)
        cells.item(0).remove()
        let len = Days.length

        for (let j = 0; j<Days.length; j++) {
            if (Days[j] === day) {

                Days = Days.slice(0, j).concat(Days.slice(j+1, Days.length))
                break
            }
        }

        for (let j = 1; j < Users.length + 1; j++) {
            let item = cells.item(j)

            let id = Number.parseInt(item.childNodes[0].id.split(":")[1])

            let f = true
            for (let i=0; i<SaveList.length; i++) {
                if (SaveList[i].id === id) {
                    if (SaveList[i].action === ActionNew) {
                        f = false
                    }
                    SaveList = SaveList.slice(0, i).concat(SaveList.slice(i+1, SaveList.length))
                }
            }
            if (f) {
                SaveList.push({
                    "action": ActionDelete,
                    "id": id,
                })
            }

            item.remove()
        }
        UpdateGradesAndModalId(i+1, len, -1)
        document.getElementById(`del_column_dropdown-${i}`).remove()



    }


    let btnSave = document.getElementById("btn-save")
    function BtnSaveActive() {
        btnSave.classList.remove("btn-secondary")
        btnSave.classList.add("btn-primary")
    }
    function BtnSaveDisable() {
        btnSave.classList.remove("btn-primary")
        btnSave.classList.add("btn-secondary")
    }

    function getTableFromCookies() {
        let index1 = document.cookie.indexOf("table")
        if (index1 === -1) {
            return
        }
        index1 += 6
        let index2 = index1
        while (document.cookie[index2] !== ";" && document.cookie[index2] !== undefined) {
            index2++
            if (index2 > 1000) {
                return;
            }
        }
        let params = document.cookie.substring(index1, index2).split(".")
        console.log(params)
        course = Number.parseInt(params[0])
        if (Number.isNaN(course)) {
            course = 1
        }
        subject_id = Number.parseInt(params[1])
        if (Number.isNaN(subject_id)) {
            subject_id = 1
        }
        month = Number.parseInt(params[2])
        if (Number.isNaN(month)) {
            month = 1
        }
    }

    function setTableCookie() {
        document.cookie = `table=${course}.${subject_id}.${month}`
    }



    GetGradesByMonthAndSubject()


</script>
<script src="/static/js/table_select.js"></script>
</html>