<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/media/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="/static/js/cookie.min.js"></script>
    <title>Оценки</title>
    <style>
        * {
            margin: 2px;
        }
        .grade_in {
            width: 45px;
        }
        #grades {
            padding: 4px;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
        table {
            border-collapse: collapse;
            border: none;
        }
        table tr:first-child td {
            border-top: none;
        }
        table tr:last-child td {
            border-bottom: none;
        }
        table tr td:first-child {
            border-left: none;
        }
        table tr td:last-child {
            border-right: none;
        }

        table tr:nth-child(even) * {
            background-color: var(--bs-gray-200);
        }


        td {
            padding: 0;
            border: 1px solid var(--bs-gray-800);
        }
        td > input {
            border: 0;
            padding: 0;
            margin: 0;
        }
        td > input:focus {
            outline: none;
        }
        .bt_plus {
            color: #BFE2FF;
            height: 35px;
            width: 35px;
            padding: 0;
            border-radius: 10px;
            border: 4px solid #BFE2FF;
            background: #337AB7;
            cursor: pointer;
            outline: 0;

        }
        .bt_plus svg {
            stroke: #BFE2FF;
            stroke-width: 4;
            transition: 0.5s;
            margin: 1px;
        }
        .dark-tooltip {
            --bs-tooltip-bg: var(--bs-dark);
        }
        .danger-tooltip {
            --bs-tooltip-bg: var(--bs-danger);
        }
        .subject-list {
            position: absolute;
        }


        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu a::after {
            transform: rotate(-90deg);
            position: absolute;
            right: 6px;
            top: .8em;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-left: .1rem;
            margin-right: .1rem;
        }
        li > p {
            margin: 0;
        }

        .vert {
            writing-mode: vertical-rl;
            text-align: center;
        }


    </style>
</head>
<body>
{{ template "header" . }}

<div class="btn-group" role="group">
    {{ range $i, $el := .Subjects }}
    {{ $course := len (printf "a%*s" $i "") }}
    <div class="btn-group" style="display: block">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ $course }} Курс
        </button>
        <ul class="dropdown-menu">
            {{ $sem := index $el 0 }}
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle">Сентябрь</a>
                <ul class="dropdown-menu">
                    {{ range $sem }}
                    <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 9, {{ .Id }})">{{ .Name }}</a></li>
                    {{ else }}
                    <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                    {{ end }}
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle">Октябрь</a>
                <ul class="dropdown-menu">
                    {{ range $sem }}
                    <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 10, {{ .Id }})">{{ .Name }}</a></li>
                    {{ else }}
                    <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                    {{ end }}
                </ul>
            </li>
            <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle">Ноябрь</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 11, {{ .Id }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle">Декабрь</a>
                <ul class="dropdown-menu">
                    {{ range $sem }}
                    <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 12, {{ .Id }})">{{ .Name }}</a></li>
                    {{ else }}
                    <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                    {{ end }}
                </ul>
            </li>

            {{ $sem := index $el 1 }}
            <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle">Январь</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 1, {{ .Id }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
        </li>
            <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle">Февраль</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 2, {{ .Id }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
        </li>
            <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle">Март</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 3, {{ .Id }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
        </li>
            <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle">Апрель</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 4, {{ .Id }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
        </li>
            <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle">Май</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 5, {{ .Id }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
        </li>
            <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle">Июнь</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectGrades({{ $course }}, 6, {{ .Id }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
        </li>
        {{ $sem := index $el 2 }}
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle text-danger">Итог</a>
            <ul class="dropdown-menu">
                {{ range $sem }}
                <li><a class="dropdown-item" onclick="SelectResGrades({{ .Id }}, {{ $course }})">{{ .Name }}</a></li>
                {{ else }}
                <li><p class="dropdown-item">Предметы ещё не добавлены</p></li>
                {{ end }}
            </ul>
        </li>
        </ul>
    </div>
    {{ end }}

</div>

<div id="grades-group" style="background-color: white;">
    <h2 id="subject_name"></h2>
    <div id="grades"></div>
    <p class="text-danger">Не забудьте сохранить изменения!</p>
</div>


<div style="display: flex">
    <button id="btn-save" class="btn btn-secondary" onclick="Save()" style="margin-right: 5px">Сохранить</button>
    <button type="button" class="btn btn-outline-primary" onclick="SaveGrades()">Скачать pdf</button>
</div>

<div id="modals">

</div>
</body>


<script src="/static/js/dd-submenu.js"></script>
<script src="/static/js/functions.js"></script>
<script>
    let SaveList = []
    let Users = []
    let Days = []
    let NewGradesIdCounter = -1

    let month = 1
    let subject_id = 1
    let course = 1

    const ActionUpdate = 0
    const ActionDelete = 1
    const ActionNew = 2
    const MonthNames = {
        1: "Январь",
        2: "Февраль",
        3: "Март",
        4: "Апрель",
        5: "Май",
        6: "Июнь",
        7: "Июль",
        8: "Август",
        9: "Сентябрь",
        10: "Октябрь",
        11: "Ноябрь",
        12: "Декабрь",
    }


    let btn_plus = `
    <button class="bt_plus" onclick="DropdownShow('new_column_dropdown')"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="dark-tooltip"
        data-bs-title="Создать столбец">
        <svg viewBox="0 0 24 24"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    </button>

    <div id="new_column_dropdown" class="dropdown-menu" style="margin-left: -115px">
    <div style="width: 90%; position: absolute">
        <button class="btn-close" onclick="DropdownShow('new_column_dropdown')"
        style="margin-left: 90%;"></button>
    </div>
         <div class="mb-3">
        <label for="input-num-of-day" class="form-label">Введите число</label>
        <input type="number" class="form-control" id="input-num-of-day" min="1" max="31" value="1">
    </div>
    <button class="btn btn-primary" onclick="CreateColumn();DropdownShow('new_column_dropdown');">Создать</button>
    </div>
    `


    getTableFromCookies()


    function DropdownShow(id) {
        let menu = document.getElementById(id)
        if (menu.classList.contains("show")) {
            menu.classList.remove("show")
        } else {
            menu.classList.add("show")
        }
    }

    function SelectGrades(in_course, in_month, in_subject) {
        course = in_course
        month = in_month
        subject_id = in_subject
        GetGradesByMonthAndSubject()
        setTableCookie()
    }

    function SelectResGrades(in_subject,  in_course) {
        course = in_course
        subject_id = in_subject
        month = 100
        GetResGrades()
        setTableCookie()
    }

    function GetResGrades() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/grades/res_by_subject");
        xhr.send(`{"course": ${course}, "subject_id": ${subject_id}}`);
        xhr.responseType = "json";
        xhr.onload = () => {
            if (!handleResponseCode(xhr.status, `произошла ошибка при получении списка оценок, статус код ответа ${xhr.status}`)) {
                return
            }
            console.log(xhr.response)
            document.getElementById("subject_name").innerText = `Итог за ${course} курс, ${xhr.response["subject_name"]}`
            let table = document.createElement("table")
            let row1 = document.createElement("tr")
            row1.setAttribute("style", "height: 70px")
            row1.innerHTML = `
    <td>Студенты</td>
    <td class="vert">Сентябрь</td>
    <td class="vert">Октябрь</td>
    <td class="vert">Ноябрь</td>
    <td class="vert">Декабрь</td>
    <td class="vert" style="font-weight: 600; font-size: large;">I семестр</td>
    <td class="vert">Январь</td>
    <td class="vert">Февраль</td>
    <td class="vert">Март</td>
    <td class="vert">Апрель</td>
    <td class="vert">Май</td>
    <td class="vert">Июнь</td>
    <td class="vert" style="font-weight: 600; font-size: large;">II семестр</td>
    <td class="vert text-danger" style="font-weight: 600; font-size: large;">ИТОГ</td>
 `
            table.appendChild(row1)

            for (let userGrades of xhr.response["users"]) {
                let row = document.createElement("tr")
                row.innerHTML += `<td>${userGrades.user_name}</td>`
                for (let month = 8; month < 12; month++) {
                    let grade = CreateGradeTd(userGrades.month_res[month].id, userGrades.month_res[month].value)
                    row.appendChild(grade)
                }
                let grade = CreateGradeTd(userGrades.semester_res[0].id, userGrades.semester_res[0].value)
                row.appendChild(grade)
                for (let month = 0; month < 6; month++) {
                    let grade = CreateGradeTd(userGrades.month_res[month].id, userGrades.month_res[month].value)
                    row.appendChild(grade)
                }
                grade = CreateGradeTd(userGrades.semester_res[1].id, userGrades.semester_res[1].value)
                row.appendChild(grade)
                grade = CreateGradeTd(userGrades.course_res.id, userGrades.course_res.value)
                row.appendChild(grade)

                table.appendChild(row)
            }
            let div = document.getElementById("grades")
            div.innerHTML = ""
            div.appendChild(table)
        }
    }

    function GetGradesByMonthAndSubject() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/grades/by_month_and_subject");
        xhr.send(`{"month": ${month}, "course": ${course}, "subject_id": ${subject_id}}`);
        xhr.responseType = "json";
        xhr.onload = () => {
            if (!handleResponseCode(xhr.status, `произошла ошибка при получении списка оценок, статус код ответа ${xhr.status}`)) {
                return
            }
            console.log(xhr.response)
            document.getElementById("subject_name").innerText = xhr.response["subject_name"] + ", " + course + " курс, " + MonthNames[month]

            Days = []

            let table = document.createElement("table")
            let row1 = document.createElement("tr")
            let row1_html = `<td data-table-column="0">Студенты</td>`

            let modals = document.getElementById("modals")
            modals.innerHTML = ""
            try {
                let i = 1;
                Days = xhr.response["days"].sort((a, b) => {return a - b})

                for (let day of Days) {
                    row1_html += `<td class="date_cell" data-table-column="${i}" data-modal-id="del_column_dropdown-${i}">${formatDate(month, day)}</td>`

                    modals.innerHTML += `<div id="del_column_dropdown-${i}" class="my-dropdown-menu" style="display: none; position: absolute;">
                        <button class="btn btn-danger btn-sm"  onclick="deleteColumn(${i}, ${day});BtnSaveActive();">
                        Удалить
</button>
                    </div>`
                    i++
                }
            } catch (err) {console.log(err)}

            row1_html += `<td style="border: 0">${btn_plus}</td>`

            row1.innerHTML = row1_html

            table.appendChild(row1)

            Users = xhr.response["users"]
            for (let i = 0; i < xhr.response["users"].length; i++) {
                let row = document.createElement("tr")

                let user_td = document.createElement("td")
                user_td.setAttribute("data-table-column", "0")
                user_td.innerText = xhr.response["users"][i].name
                row.appendChild(user_td)

                if (xhr.response["grades"][i] !== null) {
                    let j = 0
                    for (let grade of xhr.response["grades"][i]) {
                        row.appendChild(CreateGradeTd(grade.id, grade.value, j+1))
                        j++
                    }
                }
                table.appendChild(row)
            }


            let div = document.getElementById("grades")
            div.innerHTML = ""
            div.appendChild(table)

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))


            let date_cells = document.querySelectorAll('[class="date_cell"]')
            date_cells.forEach((elem) => {

                elem.onclick = () => {
                    let modal = document.getElementById(elem.getAttribute("data-modal-id"))
                    let rect = elem.getBoundingClientRect()
                    modal.style.left = `${rect.left-2}px`
                    modal.style.top = `${rect.top-33}px`
                    modal.style.display =  "block"
                    setTimeout(
                        () => {
                            document.onclick = () => {
                                modal.style.display = "none"
                                document.onclick = () => {}
                            }
                        }, 2
                    );
                }


            })
        }


    }


    function CreateGradeTd(id, value, idColumn) {
        let grade_td = document.createElement("td");
        grade_td.setAttribute("data-table-column", `${idColumn}`)
        let grade_input = document.createElement("input");

        grade_input.setAttribute("type", "text");
        grade_input.setAttribute("value", value);
        grade_input.setAttribute("id", `grade_in:${id}`);
        grade_input.setAttribute("maxlength", "5");
        grade_input.setAttribute("class", "grade_in");

        grade_input.onchange = () => {
            BtnSaveActive()
            OnUpdateGrade(id, grade_input.value)
        }

        grade_td.appendChild(grade_input)

        return grade_td
    }

    function Save() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/grades/save");
        xhr.send(JSON.stringify(SaveList));
        xhr.onload = () => {
            if (handleResponseCode(xhr.status, `Произошла ошибка при сохранении, статус код ответа ${xhr.status}`)) {
                SaveList = []
                SetGrades()
                BtnSaveDisable()
            }
        }
        xhr.onerror = () => {
            handleResponseCode(xhr.status, `Произошла ошибка при сохранении, статус код ответа ${xhr.status}`)
        }
    }

    function SetGrades() {
        if (month === 100) {
            GetResGrades()
        } else {
            GetGradesByMonthAndSubject()
        }
    }

    function OnUpdateGrade(id, value) {
        for (let i = 0; i < SaveList.length; i++) {
            if (SaveList[i].id === id) {
                SaveList[i].value = value
                return
            }
        }
        SaveList.push({
            "action": ActionUpdate,
            "id": id,
            "value": value,
        })
    }

    function CreateColumn() {
        let input = document.getElementById("input-num-of-day")

        let day = Number.parseInt(input.value)

        let idBefore = 0
        let len = Days.length
        if (input.disabled) {
            day = 100
            idBefore = Days.length
            Days.push(day)
        } else {
            let f = true
            for (let i = Days.length; i >= 0; i--) {
                if (day >= Days[i]) {
                    idBefore = i+1
                    Days = Days.slice(0, i+1).concat(day).concat(Days.slice(i+1, Days.length))
                    f = false
                    break
                }
            }
            if (f) {
                if (Days[0] > day) {
                    idBefore = 0
                    Days = [day].concat(Days)
                } else {
                    idBefore = Days.length
                    Days.push(day)
                }
            }
        }

        UpdateGradesAndModalId(idBefore, len, 1)


        let elemsBefore = document.querySelectorAll(`[data-table-column="${idBefore}"]`)

        let td = document.createElement("td")
        td.classList.add("date_cell")
        td.setAttribute("data-table-column", `${idBefore+1}`)
        td.setAttribute("data-modal-id", `del_column_dropdown-${idBefore+1}`)
        td.onclick = () => {
            let modal = document.getElementById(td.getAttribute("data-modal-id"))
            modal.style.left = `${td.offsetLeft-2}px`
            modal.style.top = `${td.offsetHeight+22}px`
            modal.style.display =  "block"
            setTimeout(
                () => {
                    document.onclick = () => {
                        modal.style.display = "none"
                        document.onclick = () => {}
                    }
                }, 2
            )
        }
        td.innerText = formatDate(month, day)
        elemsBefore.item(0).after(td)

        document.getElementById("modals").innerHTML += `
        <div id="del_column_dropdown-${idBefore+1}" class="my-dropdown-menu" style="display: none; position: absolute;">
        <button class="btn btn-danger btn-sm"  onclick="deleteColumn(${idBefore+1}, ${day});BtnSaveActive();">Удалить</button></div>`

        console.log(elemsBefore)
        for (let i=0; i< Users.length; i++) {
            NewGradesIdCounter--
            let elemBefore = elemsBefore.item(i+1)
            elemBefore.after(CreateGradeTd(NewGradesIdCounter, "", idBefore+1))

            SaveList.push({
                "action": ActionNew,
                "id": NewGradesIdCounter,
                "user_id": Users[i].id,
                "subject_id": subject_id,
                "value": "",
                "day": day,
                "month": month,
                "course": course,
            })
        }
        BtnSaveActive()
    }

    function UpdateGradesAndModalId(startId, endId, add) {
        let d
        let f

        if (add > 0) {
            let t = startId
            startId = endId
            endId = t
            d = -1
            f = (a, b) => {return a > b}
        } else {
            d = 1
            f = (a, b) => {return a <= b}
        }

        for (let i = startId; f(i, endId); i+=d) {
            let cells = document.querySelectorAll(`[data-table-column="${i}"]`)

            cells.item(0).setAttribute("data-modal-id", `del_column_dropdown-${i+add}`)
            let date = cells.item(0).innerHTML
            let day
            if (date === "Итог") {
                day = 100
            } else {
                day = date.split(".")[1]
            }


            cells.forEach((elem) => {
                elem.setAttribute("data-table-column", i+add)

            })
            let modal = document.getElementById(`del_column_dropdown-${i}`)
            modal.id = `del_column_dropdown-${i+add}`
            modal.children[0].setAttribute("onclick", `deleteColumn(${i+add}, ${day});BtnSaveActive();`)
        }
    }



    function deleteColumn(i, day) {
        console.log(i, day)
        let cells = document.querySelectorAll(`[data-table-column="${i}"]`)
        cells.item(0).remove()
        let len = Days.length

        for (let j = 0; j<Days.length; j++) {
            if (Days[j] === day) {

                Days = Days.slice(0, j).concat(Days.slice(j+1, Days.length))
                break
            }
        }

        for (let j = 1; j < Users.length + 1; j++) {
            let item = cells.item(j)

            let id = Number.parseInt(item.childNodes[0].id.split(":")[1])

            let f = true
            for (let i=0; i<SaveList.length; i++) {
                if (SaveList[i].id === id) {
                    if (SaveList[i].action === ActionNew) {
                        f = false
                    }
                    SaveList = SaveList.slice(0, i).concat(SaveList.slice(i+1, SaveList.length))
                }
            }
            if (f) {
                SaveList.push({
                    "action": ActionDelete,
                    "id": id,
                })
            }

            item.remove()
        }
        UpdateGradesAndModalId(i+1, len, -1)
        document.getElementById(`del_column_dropdown-${i}`).remove()



    }


    let btnSave = document.getElementById("btn-save")
    function BtnSaveActive() {
        btnSave.classList.remove("btn-secondary")
        btnSave.classList.add("btn-primary")
    }
    function BtnSaveDisable() {
        btnSave.classList.remove("btn-primary")
        btnSave.classList.add("btn-secondary")
    }

    function getTableFromCookies() {
        let cookie = getCookie("a-table");
        cookie = cookie !== undefined ? cookie : ""

        let params = cookie.split(".")
        console.log(params)
        course = Number.parseInt(params[0])
        if (Number.isNaN(course)) {
            course = 1
        }
        subject_id = Number.parseInt(params[1])
        if (Number.isNaN(subject_id)) {
            subject_id = 1
        }
        month = Number.parseInt(params[2])
        if (Number.isNaN(month)) {
            month = 1
        }
    }

    function setTableCookie() {
        let exp = new Date();
        exp.setFullYear(exp.getFullYear() + 1);
        setCookie("a-table", `${course}.${subject_id}.${month}`, {path: "/", expires: exp});
    }
    SetGrades()

    function SaveGrades() {
        let name = document.getElementById("subject_name").innerText
        let pdf = new jsPDF("p", "pt", "a4");
        let options = { pagesplit: true };

        pdf.addHTML(document.getElementById("grades-group"), options, () => {
            pdf.save(`${name}.pdf`);
        });
    }

</script>
<script src="/static/js/table_select.js"></script>
</html>