{{ define "header" }}
<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/static/media/favicon.ico" alt="">
        </a>
        <span class="fs-4">Электронный журнал</span>
    </a>
    <nav class="mt-2 mt-md-0 ms-md-auto">
        {{ $active_page := index .TmpData "active-page" }}
        <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ if eq $active_page "grades" }} border-bottom {{end}}" href="/admin/grades">Оценки</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ if eq $active_page "users" }} border-bottom {{end}}" href="/admin/users">Пользователи</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ if eq $active_page "subjects" }} border-bottom {{end}}" href="/admin/subjects">Предметы</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ if eq $active_page "schedule" }} border-bottom {{end}}" href="/admin/schedule">Расписание</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ if eq $active_page "metric" }} border-bottom {{end}}" href="/admin/metric">Metric</a>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle py-2 link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                Аккаунт
            </button>
            <ul class="dropdown-menu">
                <li><p class="dropdown-item">{{ index .TmpData "user-name" }}</p></li>
                <li><a class="dropdown-item" href="/student/grades">Мой аккаунт</a></li>
                <li><a class="dropdown-item" href="/login">Войти</a></li>
                <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalChangePass" onclick="ResetPassForm()">Сменить пароль</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="javascript:LogOut()">Выйти</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- Модальное окно -->
<div class="modal fade" id="modalChangePass" tabindex="-1" aria-labelledby="modalChangePass" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Введите новый пароль</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="password" class="form-control" id="pass1">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="pass2" aria-describedby="passHelp">
                    <div id="passHelp" class="form-text">Повторите пороль</div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="ChangePasword()">Изменить</button>
            </div>
        </div>
    </div>
</div>
<script>
    const passIn1 = document.getElementById("pass1");
    const passIn2 = document.getElementById("pass2");
    const passHelp = document.getElementById("passHelp");
    function ChangePasword() {
        let pass1 = passIn1.value;
        let pass2 = passIn2.value;

        if (pass1 !== pass2) {
            passHelp.innerText = "Пароли не совпадают!";
            passHelp.classList.add("text-danger");
            return
        }

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/users/change_password");
        xhr.send(pass1);
        xhr.onload = () => {
            if (!handleResponseCode(xhr.status, `Произошла ошибка при изменении пароля, статус код ответа ${xhr.status}`)) return;
            window.location.replace("/login");
        }

    }
    function ResetPassForm() {
        passIn1.value = "";
        passIn2.value = "";
        passHelp.innerText = "Повторите пороль";
        passHelp.classList.remove("text-danger");

    }
</script>
{{ end }}