<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/media/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/static/js/functions.js"></script>
    <style>
        * {
            margin: 2px;
        }
        .scroll-x {
            padding: 4px;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
        td {
            padding: 0;
            border: 1px solid dimgrey;
        }
        td > input {
            border: 0;
            padding: 0;
            margin: 0;
        }
        td > input:focus {
            outline: none;
        }
        td > select {
            border: 0;
        }
        .dropdown-button {
            background: none;
            border: 0;
        }
        .br-0 {
            border: 0;
        }
        .br-0 * {
            border: 0;
        }

    </style>
    <title>Расписание</title>
</head>
<body>
{{ template "header" . }}
<div class="scroll-x">
    <div class="d-flex">
        <div id="week-0"></div>
        <div class="vr"></div>
        <div id="week-1"></div>
    </div>
</div>
<p class="text-danger">Не забудьте сохранить изменения!</p>
<button id="btn-save" class="btn btn-secondary" onclick="Save()">Сохранить</button>
<script>
    const dayNames = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"]
    const weekHeaders = ["<h3>Числитель</h3>", "<h3>Знаменатель</h3>"]

    function initTables() {
        for (let week = 0; week < 2; week++) {
            let weekD = document.getElementById(`week-${week}`);
            weekD.innerHTML = weekHeaders[week];
            for (let day = 0; day < 6; day++) {
                let tb = document.createElement("table");
                tb.id = `week-${week}-day-${day}`;
                let header = document.createElement("p");
                header.innerText = dayNames[day];
                weekD.appendChild(header);
                weekD.appendChild(tb);
            }
        }
    }
</script>
<script>
    function newLessonTmp(week, day) {
        return `<tr id="tr-new-week-${week}-day-${day}" class="br-0"><td></td><td></td><td></td><td></td><td></td><td></td><td onclick="NewLesson(${week}, ${day})">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
\t width="25px" height="100%" viewBox="0 0 401.994 401.994" style="enable-background:new 0 0 401.994 401.994;fill: #337AB7; "
\t xml:space="preserve">
<g>
\t<path d="M394,154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414
\t\tC242.488,2.666,236.02,0,228.398,0h-54.812c-7.612,0-14.084,2.663-19.414,7.993c-5.33,5.33-7.994,11.803-7.994,19.414v118.775
\t\tH27.407c-7.611,0-14.084,2.664-19.414,7.994S0,165.973,0,173.589v54.819c0,7.618,2.662,14.086,7.992,19.411
\t\tc5.33,5.332,11.803,7.994,19.414,7.994h118.771V374.59c0,7.611,2.664,14.089,7.994,19.417c5.33,5.325,11.802,7.987,19.414,7.987
\t\th54.816c7.617,0,14.086-2.662,19.417-7.987c5.332-5.331,7.994-11.806,7.994-19.417V255.813h118.77
\t\tc7.618,0,14.089-2.662,19.417-7.994c5.329-5.325,7.994-11.793,7.994-19.411v-54.819C401.991,165.973,399.332,159.502,394,154.175z"
\t\t/>
</g>
</svg>
            </td></tr>`
    }

    let lessons = {}
    let SaveList = []
    let IdCounter = -1

    function LoadSchedule() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/schedule/get_all");
        xhr.send()
        xhr.responseType = "json";
        xhr.onload = () => {
            if (!handleResponseCode(xhr.status, `Произошла ошибка при получении расписания, статус код ответа ${xhr.status}`)) {
                return
            }
            console.log(xhr.response)
            let w = 0
            for (let week of xhr.response.weeks) {
                let d = 0
                for (let day of week.days) {
                    let tb = document.getElementById(`week-${w}-day-${d}`)

                    for (let lesson of day.lessons) {
                        lessons[lesson.id] = lesson
                        tb.appendChild(createLessonTr(lesson))
                    }
                    tb.innerHTML += newLessonTmp(w, d)
                    d++
                }
                w++
            }

        }
    }

    function createLessonTr(lesson) {
        let tr = document.createElement("tr");
        tr.id = lesson.id;
        tr.setAttribute("data-week", lesson.week);
        tr.setAttribute("data-week-day", lesson.week_day);

        let tdId = document.createElement("td");
        tdId.innerText = lesson.id;
        tr.appendChild(tdId);

        let tdNum = document.createElement("td");
        tdNum.innerHTML = `<input id="in-num-${lesson.id}" type="number" value="${lesson.number}" style="margin: 0; width: 30px;" onchange="UpdateLesson(${lesson.id});SortLessons(${lesson.week}, ${lesson.week_day});">`;
        tr.appendChild(tdNum);

        let tdGroup = document.createElement("td");
        tdGroup.innerHTML = `<select id="in-group-${lesson.id}" onchange="UpdateLesson(${lesson.id})">
            <option value="0" ${lesson.group === 0 ? "selected" : ""}>Общий</option>
            <option value="1" ${lesson.group === 1 ? "selected" : ""}>1 подгруппа</option>
            <option value="2" ${lesson.group === 2 ? "selected" : ""}>2 подгруппа</option>
        </select>`;
        tr.appendChild(tdGroup);

        let tdName = document.createElement("td");
        tdName.innerHTML = `<input id="in-name-${lesson.id}" type="text" value="${lesson.name}" style="margin: 0; width: 120px;" onchange="UpdateLesson(${lesson.id})">`;
        tr.appendChild(tdName);

        let tdTeacher = document.createElement("td");
        tdTeacher.innerHTML = `<input id="in-teacher-${lesson.id}" type="text" value="${lesson.teacher}" style="margin: 0; width: 120px;" onchange="UpdateLesson(${lesson.id})">`;
        tr.appendChild(tdTeacher);

        let tdAud = document.createElement("td");
        tdAud.innerHTML = `<input id="in-aud-${lesson.id}" type="text" value="${lesson.auditorium}" style="margin: 0;  width: 50px;" onchange="UpdateLesson(${lesson.id})">`;
        tr.appendChild(tdAud);

        let tdDel = document.createElement("td");
        tdDel.setAttribute("onclick", `DelLesson(${lesson.id})`);

        tdDel.innerHTML = `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="25px" height="100%" viewBox="0 0 401.991 401.991" style="enable-background:new 0 0 401.991 401.991;fill:#dc3545;"
                            xml:space="preserve">
<g>
	<path d="M394,154.174c-5.331-5.33-11.806-7.995-19.417-7.995H27.406c-7.611,0-14.084,2.665-19.414,7.995
		C2.662,159.503,0,165.972,0,173.587v54.82c0,7.617,2.662,14.086,7.992,19.41c5.33,5.332,11.803,7.994,19.414,7.994h347.176
		c7.611,0,14.086-2.662,19.417-7.994c5.325-5.324,7.991-11.793,7.991-19.41v-54.82C401.991,165.972,399.332,159.5,394,154.174z"/>
</g>
</svg>`;
        tr.appendChild(tdDel);

        return tr;

    }

    function NewLesson(week, day) {
        IdCounter--
        let lesson = {
            action: "new",
            id: IdCounter,
            week: week,
            week_day: day,
            group: 0,
            number: 1,
            name: "",
            teacher: "",
            auditorium: "",
        }
        SaveList.push(lesson);
        let tr = document.getElementById(`tr-new-week-${week}-day-${day}`);
        tr.before(createLessonTr(lesson));

    }

    function UpdateLesson(id) {
        let tr = document.getElementById(id);
        let week = Number.parseInt(tr.getAttribute("data-week"));
        let weekDay = Number.parseInt(tr.getAttribute("data-week-day"));

        let num = Number.parseInt(document.getElementById(`in-num-${id}`).value);
        let group = Number.parseInt(document.getElementById(`in-group-${id}`).value);
        let name = document.getElementById(`in-name-${id}`).value;
        let teacher = document.getElementById(`in-teacher-${id}`).value;
        let aud = document.getElementById(`in-aud-${id}`).value;

        let f = false
        for (let sl of SaveList) {
            if (sl.id === id) {
                sl.number = num;
                sl.group = group;
                sl.name = name;
                sl.teacher = teacher;
                sl.auditorium = aud;
                f = true;
            }
        }
        if (!f) {
            SaveList.push({
                action: "update",
                id: id,
                week: week,
                week_day: weekDay,
                number: num,
                group: group,
                name: name,
                teacher: teacher,
                auditorium: aud,
            });
        }
    }

    function DelLesson(id) {
        document.getElementById(id).remove();

        for (let i = 0; i < SaveList.length; i++) {
            if (SaveList[i].id === id && SaveList[i].action === "new"){
                SaveList = deleteFromList(SaveList, i)
                return
            }
        }

        SaveList.push({
            action: "del",
            id: id,
        })
    }

    function SortLessons(week, day) {
        let tb = document.getElementById(`week-${week}-day-${day}`);
        if (tb.children[0].tagName === "TBODY") {
            tb = tb.children[0];
        }

        let trS = tb.children;

        let sortList = [];
        for (let i = 0; i < trS.length; i++) sortList.push(trS[i]);

        let newElB = sortList.pop()

        sortList.sort((a, b) => {
            let an =  Number.parseInt(a.children[1].children[0].value);
            let bn =  Number.parseInt(b.children[1].children[0].value);

            if (an > bn) return 1;
            if (an < bn) return -1;
            return 0;
        }).forEach((el) => {
            tb.appendChild(el);
        })

        tb.appendChild(newElB)
    }

    function Save() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/schedule/save");
        xhr.send(JSON.stringify(SaveList));
        xhr.onload = () => {
            if (!handleResponseCode(xhr.status, `Произошла ошибка при получении расписания, статус код ответа ${xhr.status}`)) {
                return;
            }
            SaveList = [];
            initTables();
            LoadSchedule();
        }
    }
    initTables()
    LoadSchedule()


</script>
<script src="/static/js/table_select.js"></script>
</body>
</html>